[Unit]
Description=SkylonRemoteApp (Rust Cargo) at startup
After=graphical.target

[Service]
Type=simple
User=skylon
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/skylon/.Xauthority
ExecStart=/home/skylon/launch_terminal.sh
Restart=on-failure

# Limit logs for this service
StandardOutput=journal
StandardError=journal

# Keep only important logs (warning and error level)
# SyslogLevel=warning

# Alternative: redirect to null (no logs at all)
# StandardOutput=null
# StandardError=null

[Install]
WantedBy=graphical.target
